<h1>Add Country</h1>
<% if (errors != undefined) { %>
    <ul>
        <% errors.forEach((error)=> { %>
            <li><%= error.msg %></li>
        <% })%>
    </ul>
<%} %>

<form action="/addCountry" method="POST">
    <label>Country Code</label>
    <input type="text" name="code" value = "<%=co_code%>">
    <br><br><label>Country Name</label>
    <input type="text" name="name" value = "<%=co_name%>">
    <br><br><label>Country Details</label>
    <textarea type="text" name="details" rows="5" cols="40" value ="<%=co_details%>"></textarea>

    <input type="submit" value="Add">
  </form>


<a href="\">Home</a>